
.trinder {
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_intro {
  text-align: center;
  max-width: 600px;
  color: white;
}

.header_introHeader {
  font-size: 44px;
}

.header_introText {
  font-size: 24px;
}

.header_formContainer {
  max-width: 500px;
  margin: 20px;
  margin-top: 50px;
}

.MuiPaper-root {
  border-radius: 30px !important;
  background-color: rgba(255, 255, 255, 0.45) !important;
  backdrop-filter: blur(5px) !important;
  border: 1px solid rgba(255, 255, 255, 0.28) !important;
}

.formInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form_inputBox{
    width: 100%;
    margin: 5px;
    height: 200px;
    border-radius: 5px;
    background: transparent;
    padding: 10px;
}

.CarouselContainer{
  margin-top: 60px;
}
